<section class="skills about" id="skills">
  <h2 class="general__section__title">Compétences</h2>
  <span class="general__section__subtitle">Mon expertise technique</span>

  <div class="skills__container container grid">
    {% for skill in site.data.index.competences %}
    <details class="skills__content">
      <summary class="skills__header">
        <div class="skills__header_sub">
          <i class="{{ skill.icon }} skills__icon"></i>
          <h2 class="skills__title">{{ skill.category }}</h2>
        </div>
        <i class="fas fa-chevron-down static-arrow"></i>
      </summary>
      <div class="index__conpetences__list">
        {% for item in skill.items %}
        <div class="general__content__border">
          <h3 class="skills__subtitle">{{ item }}</h3>
        </div>
        {% endfor %}
      </div>
    </details>
    {% endfor %}
  </div>

  <div class="general__center_button">
    <a href="{{ site.baseurl }}/pages/competences.html" class="button button--flex">Regarde tous mes competences</a>
  </div>
</section>