<section class="qualification__section service__section about" id="qualification">
  <h2 class="general__section__title">Expérience</h2>
  <span class="general__section__subtitle">Expériences professionnelles en informatique</span>

  <div class="qualification__container container grid services__container">
    <div class="qualification__sections">
      <div class="qualification__content qualifiation__active services__content" data-content id="education">

        <div class="qualification__container">
          {% for exp in site.data.index.experiences %}
          {% assign is_right = forloop.index0 | modulo: 2 %}
          <div class="qualification__data {% if is_right == 1 %}qualification__right{% endif %}">

            <div class="qualification__middle__line qualification__middle__line__right">
              <span class="qualification__rounder"></span>
              <span class="qualification__line"></span>
            </div>
            <div>
              {% unless is_right == 1 %}
              <div class="qualification__card">
                <h3 class="qualification__title">{{ exp.title }}</h3>
                <span class="qualification__subtitle">{{ exp.subtitle }}</span>
                <div class="qualification__calender"><i class="uil uil-calendar-alt"></i> {{ exp.period }}</div>

                <div class="general__modal__plus">
                  <div class="general__modal__plus__content">
                    <div class="general__modal__plus__header">
                      <h4 class="general__modal__plus__title">{{ exp.modal_title }}</h4>
                      <i class="fa fa-times general__modal__plus__close"></i>
                    </div>

                    <ul class="general__modal__plus__details grid">
                      {% for detail in exp.details %}
                      <li class="general__modal__plus__item">
                        <i class="uil uil-check-circle general__modal__plus__icon"></i>
                        <p>{{ detail }}</p>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>

                <div>
                  <div class="general__content__plus">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    Voir les détails
                  </div>
                </div>

              </div>
              {% endunless %}
            </div>

            <div class="qualification__middle__line">
              <span class="qualification__rounder"></span>
              <span class="qualification__line"></span>
            </div>

            <div>
              {% if is_right == 1 %}
              <div class="qualification__card">
                <h3 class="qualification__title">{{ exp.title }}</h3>
                <span class="qualification__subtitle">{{ exp.subtitle }}</span>
                <div class="qualification__calender"><i class="uil uil-calendar-alt"></i> {{ exp.period }}</div>

                <div class="general__modal__plus">
                  <div class="general__modal__plus__content">
                    <div class="general__modal__plus__header">
                      <h4 class="general__modal__plus__title">{{ exp.modal_title }}</h4>
                      <i class="fa fa-times general__modal__plus__close"></i>
                    </div>

                    <ul class="general__modal__plus__details grid">
                      {% for detail in exp.details %}
                      <li class="general__modal__plus__item">
                        <i class="uil uil-check-circle general__modal__plus__icon"></i>
                        <p>{{ detail }}</p>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>

                <div>
                  <div class="general__content__plus">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    Voir les détails
                  </div>
                </div>

              </div>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>




      </div>
    </div>
  </div>
</section>