<section class="about section" id="about">
  <h2 class="general__section__title">À propos de moi</h2>
  <span class="general__section__subtitle">Mon introduction</span>

  <div class="about__container container grid">
    <img src="{{ site.baseurl }}/assets/img/avatar_smoking.png" alt="" class="deploy_link" />

    <div class="about__data">
      <p class="about__description">
        Je suis motivé par l’automatisation, les systèmes cloud et l’utilisation d’outils comme Pandas et SQL pour
        l’analyse et l’amélioration des processus. J’ai travaillé en entreprise sur des projets backend et cloud, en
        utilisant Docker et les pipelines CI/CD, contribuant au développement de fonctionnalités importantes.
        Curieux et appliqué, je souhaite continuer à apprendre tout en participant à des projets concrets et
        innovants.
      </p>

      <div class="about__info">
        <div>
          <span class="about__info-title">50+</span>
          <span class="about__info-name">Projets</span>
        </div>
        <div>
          <span class="about__info-title">7</span>
          <span class="about__info-name">Mois <br />d'expérience</span>
        </div>
      </div>

      <div class="about__buttons">
        <a download="" href="{{ site.baseurl }}/assets/MyCV.pdf" class="button button--flex">
          Regardez mon parcours complet
        </a>
      </div>
    </div>
  </div>
</section>