<section class="about" id="about">
  <h2 class="general__section__title">À propos de moi</h2>
  <span class="general__section__subtitle">Mon introduction</span>

  <div class="about__container container grid">
    <img src="{{ site.baseurl }}/assets/img/avatar_smoking.png" alt="" class="deploy_link" />

    <div class="about__data">
      <p class="about__description">
        J’ai découvert l’informatique à 14 ans, fasciné par la technologie et sa complexité.
        Ma passion m’a conduit à un bac scientifique et à une formation full stack, où j’ai effectué un stage caritatif
        et contribué à une plateforme web avec d’autres développeurs.
        Par la suite, j’ai travaillé comme développeur backend dans une entreprise cloud, améliorant la qualité du code
        et concevant des systèmes performants.
        Discipliné et autodidacte, je suis motivé par les défis techniques et l’optimisation des systèmes.
      </p>

      <div class="about__info">
        {% for stat in site.data.index.about_stats %}
        <div>
          <span class="about__info-title">{{ stat.title }}</span>
          <span class="about__info-name">
            {{ stat.label }}
          </span>
        </div>
        {% endfor %}
      </div>

      <!-- <div class="about__buttons">
        <a download="" href="{{ site.baseurl }}/assets/MyCV.pdf" class="button button--flex">
          Regardez mon parcours complet
        </a>
      </div> -->
    </div>
  </div>
</section>