<div class="loisirs__container container grid">

  {% for item in site.data.interests.interests %}
  <article class="general__card" data-category="{{ item.slug }}">
    <div class="general__card__header">
      <div class="general__card__title-group">
        <i class="general__card__icon {{ item.icon }}"></i>
        <h3 class="general__card__title">{{ item.title }}</h3>
      </div>
      <span class="general__card__category">{{ item.category }}</span>
    </div>

    <p class="general__card__description">
      {{ item.description }}
    </p>
  </article>
  {% endfor %}


</div>