<footer class="footer">
    <div class="footer__bg">
        <div class="footer__container container grid">
            <div class="footer__logo">
                <a href="{{ site.baseurl }}/index.html" class="nav__logo deploy_link nav__link">
                    <img class="avatar deploy_link" style="height: 81px;"
                        src="{{ site.baseurl }}/assets/img/avatar.jpeg" alt="avatar_footer">
                </a>
                <!-- <div class="footer__subtitle"
                    style="height: 100%; display: flex; flex-direction: column; justify-content: space-evenly;">
                    <p>Automation & Cloud</p>
                    <p>Scripting & Tools</p>
                    <p>Data & Pipelines</p>
                    <p>Analytics & Monitoring</p>
                </div> -->
            </div>
            <ul class="footer__links">
                {% for page in site.data.footer_links.pages %}
                <li>
                    <a href="{{ site.baseurl }}{{ page.url }}" class="footer__link nav__link">
                        {{ page.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>

            <div class="footer__links__pages">
                {% for social in site.data.footer_links.socials %}
                <a href="{{ social.url }}" class="home__social-icon" {% if social.external %}target="_blank" {% endif
                    %}>
                    <i class="{{ social.icon }} footer__contact"></i>
                </a>
                {% endfor %}
            </div>
        </div>

        <p class="footer__copy">
            © 2026 Benaboud · Tous droits réservés
        </p>
    </div>

    <script src="{{ site.baseurl }}/assets/js/dark-mode.js"></script>
    <script src="{{ site.baseurl }}/assets/js/scroll.js"></script>
    <script src="{{ site.baseurl }}/assets/js/mobile.js"></script>

    <script src="{{ site.baseurl }}/assets/js/open.js"></script>
    <script src="{{ site.baseurl }}/assets/js/i.js"></script>
</footer>