<footer class="footer">
    <div class="footer__bg">
        <div class="footer__container container grid">
            <div style="display: flex; align-items: center; justify-content: space-evenly;">
                <a href="{{ site.baseurl }}/index.html" class="nav__logo deploy_link nav__link">
                    <img class="avatar deploy_link" style="height: 81px;"
                        src="{{ site.baseurl }}/assets/img/avatar.jpeg" alt="avatar_footer">
                </a>

                <div class="footer__subtitle"
                    style="height: 100%; display: flex; flex-direction: column; justify-content: space-evenly;">
                    <p>Automation & Cloud</p>
                    <p>Scripting & Tools</p>
                    <p>Data & Pipelines</p>
                    <p>Analytics & Monitoring</p>
                </div>
            </div>

            <ul class="footer__links">
                <li>
                    <a href="{{ site.baseurl }}/pages/habbies" class="footer__link deploy_link nav__link">loisir</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/pages/contatc" class="footer__link deploy_link nav__link">Projets</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/pages/contatc" class="footer__link deploy_link nav__link">Contact</a>
                </li>
            </ul>

            <div class="">
                <a href="https://www.linkedin.com/in/el-habib-benaboud-data/" target="_blank" class="home__social-icon">
                    <i class="fa-brands fa-linkedin general__card__title"></i>
                </a>
                <a href="https://github.com/Abib-44" target="_blank" class="home__social-icon">
                    <i class="fa-brands fa-github general__card__title"></i>
                </a>
                <a href="mailto:eh.benaboud@email.com" class="home__social-icon">
                    <i class="fa-classic fa-solid fa-at general__card__title"></i>
                </a>
            </div>
        </div>

        <p class="footer__copy">
            © 2026 Benaboud · Tous droits réservés
        </p>
    </div>

    <script src="{{ site.baseurl }}/assets/js/dark-mode.js"></script>

    <script src="{{ site.baseurl }}/assets/js/scroll.js"></script>
</footer>