<header class="header" id="header">
  <nav class="nav container navbar">
    <a href="{{ site.baseurl }}/index.html" class="nav__logo deploy_link">
      <img class="avatar deploy_link" src="{{ site.baseurl }}/assets/img/avatar.jpeg" alt="avatar">
    </a>

    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list grid">
        <li class="nav__item">
          <a href="{{ site.baseurl }}/index.html" class="deploy_link nav__link active-link">
            <i class="uil uil-estate nav__icon"></i>Accueil
          </a>
        </li>

        <li class="nav__item">
          <a href="{{ site.baseurl }}/pages/competences.html" class="deploy_link nav__link">
            <i class="uil uil-file-alt nav__icon"></i>Compétences
          </a>
        </li>

        <li class="nav__item">
          <a href="{{ site.baseurl }}/pages/projects.html" class="deploy_link nav__link">
            <i class="uil uil-scenery nav__icon"></i>Projets
          </a>
        </li>

        <li class="nav__item">
          <a href="{{ site.baseurl }}/pages/hobbies.html" class="deploy_link nav__link">
            <i class="uil uil-message nav__icon"></i>Loisirs
          </a>
        </li>

        <li class="nav__item">
          <a href="{{ site.baseurl }}/pages/contact.html" class="deploy_link nav__link">
            <i class="uil uil-message nav__icon"></i>Contactez-moi
          </a>
        </li>



      </ul>
      


    </div>




    <div class="mobile">
    {% include component/darkMode.html %}

<i class="fas fa-bars mobile-nav" id="nav-open"></i>
<i class="fas fa-times mobile-nav" id="nav-close"></i>

    </div>

  </nav>
</header>