<header class="header" id="header">
  <nav class="nav container navbar">
    <a href="{{ site.baseurl }}/index.html" class="nav__logo deploy_link">
      <img class="avatar deploy_link" src="{{ site.baseurl }}/assets/img/avatar.jpeg" alt="avatar">
    </a>

    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list grid">
        {% for item in site.data.navigation %}
        <li class="nav__item">
          <a href="{{ site.baseurl }}{{ item.url }}"
            class="deploy_link nav__link {% if page.url == item.url %}active-link{% endif %}">
            <i class="{{ item.icon }} nav__icon"></i>{{ item.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="mobile">
      {% include component/darkMode.html %}
      <div class="nav__icon__navigation">
        <i class="fas fa-bars mobile-nav" id="nav-open"></i>
        <i class="fas fa-times mobile-nav" id="nav-close"></i>
      </div>
    </div>
  </nav>
</header>