.skill__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
}

.skill__description {
  font-size: var(--small-font-size);
  color: var(--text-color);
  line-height: 1.6;
}

.general__modal__plus { display: none; }
.general__modal__plus.active { display: block; }
