<footer class="footer">
    <footer class="footer">
        <div class="footer__bg">
            <div class="footer__container container grid">
                <div> 
                    
                    <a href="/portfolio/index.html" class="nav__logo deploy_link">
                        <img class="avatar deploy_link" src="/portfolio/assets/img/avatar.jpeg" alt="avatar">
                    </a>
                    
                    <span class="footer__subtitle">
                        Automation & Cloud
                    </span>
                </div>

                <ul class="footer__links">
                    <li>
                        <a href="#qualification" class="footer__link deploy_link">Parcours</a>
                    </li>
                    <li>
                        <a href="#portfolio" class="footer__link deploy_link">Projets</a>
                    </li>
                    <li>
                        <a href="#contact" class="footer__link deploy_link">Contact</a>
                    </li>
                </ul>

                <div class="footer__socials">
                    <a href="https://www.linkedin.com/in/el-habib-benaboud-data/" target="_blank"
                        class="home__social-icon">
                        <i class="uil uil-linkedin-alt home__icon" style="color: white;"></i>
                    </a>

                    <a href="https://github.com/Abib-44" target="_blank" class="home__social-icon">
                        <i class="uil uil-github-alt home__icon" style="color: white;"></i>
                    </a>
                </div>

            </div>
            <p class="footer__copy">
                © 2026 Benaboud · Tous droits réservés
            </p>
        </div>
    </footer>