<footer class="footer">
    <footer class="footer">
        <div class="footer__bg">
            <div class="footer__container container grid">
                <div style="    display: flex;
    align-items: center;
    justify-content: space-evenly;">
                    <a href="/portfolio/index.html" class="nav__logo deploy_link nav__link">
                        <img class="avatar deploy_link" style="height: 81px;" src="/portfolio/assets/img/avatar.jpeg"
                            alt="avatar_footer">
                    </a>

                    <div class="footer__subtitle" style="    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;">
                        <p>Automation & Cloud</p>
                        <p>Scripting & Tools</p>
                        <p>Data & Pipelines</p>
                        <p>Analytics & Monitoring</p>
                    </div>
                </div>

                <ul class="footer__links">
                    <li>
                        <a href="#qualification" class="footer__link deploy_link nav__link">Parcours</a>
                    </li>
                    <li>
                        <a href="#portfolio" class="footer__link deploy_link nav__link">Projets</a>
                    </li>
                    <li>
                        <a href="#contact" class="footer__link deploy_link nav__link">Contact</a>
                    </li>
                </ul>

                <div class="footer__socials">
                    <a href="https://www.linkedin.com/in/el-habib-benaboud-data/" target="_blank"
                        class="home__social-icon">
                        <i class="uil uil-linkedin-alt home__icon" style="color: white;"></i>
                    </a>

                    <a href="https://github.com/Abib-44" target="_blank" class="home__social-icon">
                        <i class="uil uil-github-alt home__icon" style="color: white;"></i>
                    </a>
                </div>

            </div>
            <p class="footer__copy">
                © 2026 Benaboud · Tous droits réservés
            </p>
        </div>
    </footer>