.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem;
  margin-bottom: 10px;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
  &--white {
    background-color: #fff;
    color: var(--first-color);
    &:hover { background-color: #fff; }
  }
  &--flex { display: inline-flex; align-items: center; }
  &--small { padding: 0.75rem 1rem; }
  &--link {
    padding: 0;
    background-color: transparent;
    color: var(--first-color);
    &:hover { color: var(--first-color-alt); }
  }
  &__icon { font-size: 1.25rem; margin-left: 0.25rem; transition: 0.3s; }
  &:hover { background-color: var(--first-color-alt); }
}
