.general__section__title {
  font-size: var(--h1-font-size);
}

.general__section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 30px;
}

.general__section__title,
.general__section__subtitle {
  text-align: center;
}