<div class="general__card__containers container grid">
  {% for project in site.data.projects.projects %}
  <article class="project__card__carussel" data-category="{{ project.category | downcase }}">
    <img src="{{ project.image }}" alt="{{ project.title }}" class="project__card__carussel__img" />
    <div class="project__card__carussel__bottom" >
      <div class="project__card__carussel__content">
        <div class="project__card__carussel__header">
          <div class="project__card__carussel__title-group">
            <i class="project__card__carussel__icon fas fa-database"></i>
            <h3 class="project__card__carussel__title">{{ project.title }}</h3>
          </div>
          <span class="project__card__carussel__category">{{ project.category }}</span>
        </div>

        <p class="project__card__carussel__description">{{ project.description }}</p>

        <ul class="project__card__carussel__stack">
          {% for tech in project.stack %}
          <li>{{ tech }}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="project__card__carussel__button">
      <a href="{{ project.url }}" class="button button--flex" target="_blank">
        Voir le projet
      </a>

      </div>
    </div>
  </article>
  {% endfor %}
</div>