<h2 class="general__section__title">Projets</h2>
<span class="general__section__subtitle">Sélection de travaux techniques</span>

<p class="general__card__intro">
  Vous trouverez ci-dessous une sélection de projets représentatifs de mon travail. Il ne s’agit pas de l’intégralité de
  mes réalisations, mais seulement de quelques exemples clés. Pour découvrir l’ensemble de mes projets, je vous invite à consulter
  mes deux GitHub : l’un dédié exclusivement au backend, et l’autre consacré à l’automatisation et l’analyse.
</p>

<div class="general__card__containers container grid">

{% for introduction in site.data.projects.introductions %}
<article class="general__card" data-category="{{ introduction.category | downcase }}">
  <div class="general__card__header">
    <div class="general__card__title-group">
      <i class="general__card__icon {{ introduction.icon }}"></i>
      <h3 class="general__card__title">{{ introduction.title }}</h3>
    </div>
    <span class="general__card__category">{{ introduction.category }}</span>
  </div>
  <a class="button button--flex" href="{{ introduction.url }}" target="_blank">{{ introduction.url }}</a>
</article>
{% endfor %}


</div>