<h2 class="general__section__title">Projets</h2>
<span class="general__section__subtitle">Sélection de travaux techniques</span>

<p class="general__card__intro">
  Vous trouverez ci-dessous une sélection de projets représentatifs de mon travail. Il ne s’agit pas de l’intégralité de
  mes réalisations, mais seulement de quelques exemples clés. Pour découvrir l’ensemble de mes projets, je vous invite à consulter
  mes deux GitHub : l’un dédié exclusivement au backend, et l’autre consacré à l’automatisation et l’analyse.
</p>

<div class="general__card__containers container grid">

  <article class="general__card" data-category="contact">
    <div class="general__card__header">
      <div class="general__card__title-group">
        <i class="general__card__icon fa-brands fa-github"></i>
        <h3 class="general__card__title">GitHub</h3>
      </div>
      <span class="general__card__category">Backend</span>
    </div>
    <p class="general__card__description button button--flex">
      <a href="https://github.com/Abib-44" target="_blank">https://github.com/200habib</a>
    </p>
  </article>

  <article class="general__card" data-category="contact">
    <div class="general__card__header">
      <div class="general__card__title-group">
        <i class="general__card__icon fa-brands fa-github"></i>
        <h3 class="general__card__title">GitHub</h3>
      </div>
      <span class="general__card__category">Cloud</span>
    </div>
    <p class="general__card__description button button--flex">
      <a href="https://github.com/Abib-44" target="_blank">https://github.com/Abib-44</a>
    </p>
  </article>

</div>