{% for skill in site.data.competences.softskill %}
<div class="general__card" data-category="soft" data-full-description="{{ skill.description }}">
  <div class="general__card__header">
    <div class="general__card__title-group">
      <i class="general__card__icon {{ skill.icon }}"></i>
      <h3 class="general__card__title">{{ skill.title }}</h3>
    </div>
    <span class="general__card__category">Soft</span>
  </div>

  <p class="general__card__description">{{ skill.mini-description }}</p>

  <div class="general__content__plus">
    <i class="fa fa-plus-circle" aria-hidden="true"></i>
    Voir les détails
  </div>
</div>

<div class="general__modal__plus">
  <div class="general__modal__plus__content">
    <div class="general__modal__plus__header">
      <h4 class="general__modal__plus__title"></h4>
      <i class="general__modal__plus__close fa fa-times"></i>
    </div>
    <p class="general__modal__plus__description"></p>
  </div>
</div>
{% endfor %}
