.services__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.services__modal.active-modal {
  display: flex;
}

.services__modal-content {
  background: var(--container-color);
  padding: 2rem;
  border-radius: 0.5rem;
  max-width: 600px;
  width: 90%;
  position: relative;
}

.services__modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}










































.qualification__tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2);
}

.qualification__button {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
}

.qualification__button:hover {
  color: var(--first-color);
}

.qualification__icon {
  font-size: 1.8rem;
  margin-right: var(--mb-0-25);
}

.qualification__data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.qualification__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.qualification__subtitle {
  display: inline-block;
  font-size: var(--small-font-size);
}

.qualification__calender {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

.qualification__rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--first-color);
  border-radius: 50%;
}

.qualification__line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--first-color);
  transform: translate(6px, -7px);
}

.qualification [data-content] {
  display: none;
}

.qualification__active[data-content] {
  display: none;
}

.qualification__button.qualification__active {
  color: var(--first-color);
}



.qualification__middle__line {
  height: 110px;
}

.qualification__middle__line__right {
  display: none;
}

@media screen and (max-width: 767px) {
  .qualification__middle__line {
      display: none;
}
.qualification__middle__line__right {
  display: block;
  height: 110px;

        margin-right: 13px;
}
.qualification__container {
      display: block;
}

.qualification__data {
display: flex; 
justify-content: flex-start;

    column-gap: 0rem;

}
}