<section class="section" id="contact">
  <h2 class="general__section__title">Contact</h2>
  <span class="general__section__subtitle">
    Professional contact details
    <br><br>
    Au plaisir de faire votre connaissance et d’échanger autour d’opportunités professionnelles.
  </span>

  <div class="general__card__containers container grid">
    {% for contact in site.data.contacts.contacts %}
    <article class="general__card" data-category="contact">
      <div class="general__card__header">
        <div class="general__card__title-group">
          <i class="general__card__icon {{ contact.icon }}"></i>
          <h3 class="general__card__title">{{ contact.title }}</h3>
        </div>
        <span class="general__card__category">{{ contact.category }}</span>
      </div>

      <p class="general__card__description">
        {% if contact.external %}
        <a href="{{ contact.link }}" target="_blank">{{ contact.description }}</a>
        {% else %}
        {{ contact.description }}
        {% endif %}
      </p>

      {% if contact.link_label %}
      <a href="{{ contact.link }}" class="button button--flex" {% if contact.external %}target="_blank" {% endif %}>
        {{ contact.link_label }}
        <i class="uil uil-arrow-right button__icon"></i>
      </a>
      {% endif %}
    </article>
    {% endfor %}


  </div>
</section>